{
  "plugins": [
    "prettier-plugin-vue"
  ],
  "printWidth": 100,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSameLine": true,
  "vueIndentScriptAndStyle": true,
  "htmlWhitespaceSensitivity": "strict",
  "singleAttributePerLine": false,
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "printWidth": 100,
        "proseWrap": "always"
      }
    },
    {
      "files": "*.vue",
      "options": {
        "parser": "vue",
        "bracketSameLine": true,
        "htmlWhitespaceSensitivity": "strict"
      }
    }
  ]
}
